//- This file adds some functions that can be used within pug files
//- to make it easier to handle some of the elements for nah.

//- The default environment is production.  Set the env variable at the
//- top of any pug file where you want something different.


- env = env ? env : 'production'

mixin for(target)
  if typeof(target) == "string" && (env.toLowerCase() == target.toLowerCase()) && block
    block
  else if target.includes(env.toLowerCase()) && block
    block

mixin element(content)
  if env != 'development'
    nah:site-element&attributes(attributes)= content
  else if block
    block

mixin widget(content)
  if env != 'development'
    nah:widget&attributes(attributes)= content
  else if block
    block
