//- This layout file is only for use in building sample pages
//- so we can test what pages will look like when we make changes
//- to the design theme.
- env = 'development'
include _base

doctype 
html
  head
    link(rel="stylesheet" href="/styles.css")
    include ../structure/head
  body
    include ../structure/structure
