//- This is a sample web page. Change the block below the content
//- to whatever you want for a view of what that content will look
//- like with you new design theme.
//- See sample1.pug for and example of how to make the sampleMenu
//- match the page that is being rendered.

//- These sample pages are created using the pug temaplating engine,
//- this has nothing directly to do with Net-at-hand; it is simply
//- a more consise way to create html from scratch.  It also lets us
//- build a small static "site" using the structure files that will
//- used directly in your net-at-hand theme.
extends _layout

block content
  | Hello, world.
