//- This is a sample web page. Change the block below the content
//- to whatever you want for a view of what that content will look
//- like with you new design theme.
//- See sample1.pug for and example of how to make the sampleMenu
//- match the page that is being rendered.
extends _layout

block content
  | Hello, world.
