/* Albums ************************/
#album_nav {
    float: right; }
  
  #album_nav div {
    display: inline; }
  
  #album_nav .next {
    margin-left: 10px; }
  
  .image {
    margin: 1em 0; }
  
  