// This variable will need to change to wherever you design theme's
// images are stored. You should be able just change the number to
// the number for your design theme.
$image-location: '/stylesheets/design_images/340' !default;


// The variables listed below can be changed to change the colors
// of the design to your needs and liking.
$color-text-base: black;

$orange:      #f80;
$orange-dark: #c50;
$green:       #03b300;
$green-dark:  #028200;
$blue:        #0096ff;
$blue-dark:   #0054c2;
$purple:      #cc00ff;
$purple-dark: #8d00b0;
$red:         #ff2400;
$red-dark:    #b71a00;

$background-html-base:  #666;
$background-html:       rgba(0, 0, 0, 0);
$background-html-top:   rgba(0, 0, 0, 0.65);
$background-header:     $orange;
$background-header-top: $orange-dark;

$background-content: #fff;
$background-sidebar: #ccc;

$background-footer:     $background-header;
$background-footer-top: $background-header-top;

$background-menu-item:            $background-html-top;
$background-menu-item-right:      $background-html;
$background-menu-highlight:       $background-header-top;
$background-menu-highlight-right: $background-header;
$color-menu:                      #fff;
$color-menu-highlight:            #fff;

$color-header-title:   #fff;
$color-header-tagline: #000;

$color-heading: $background-header-top;
$color-link:    $color-heading;
$color-footer:  $color-header-tagline;

$color-button:        $background-header;
$color-button-bottom: $background-header-top;

$color-border: #bbb;

$color-cal1: $background-menu-highlight;
$color-cal2: $background-html;
$color-cal3: $background-menu-highlight-right;
$color-cal4: $background-html-top;
$color-cal5: darken(#f2af58, 20);

$font-main: "Source Sans Pro", Helvetica, sans-serif;
$font-heading: $font-main;


@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic);


// The following files are located in the /source/styles folder.
// They're just separated out to make finding your way through the
// source css a little easier.
@import "styles/_reset.scss";
@import "styles/_layout-main.scss";
@import "styles/_layout-menus.scss";

@import "styles/_typography-main.scss";
@import "styles/_typography-tables.scss";

@import "styles/_nah-calendars.scss";
@import "styles/_nah-blogs.scss";
@import "styles/_typography-content.scss";
@import "styles/_nah-contact-forms.scss";
@import "styles/_nah-albums.scss";


// Uncomment the line below to load in the sample header images.
// You can edit the file to whatever you need it to be for your own needs.
// Replace the sample images with your own.

// @import "styles/_header-images.scss";

